/* Error: Expected "n".
 *     ,
 * 244 |             .body--card:nth-child(){
 *     |                                   ^
 *     '
 *   scss\main.scss 244:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "n".\a     \2577 \a 244 \2502              .body--card:nth-child(){\d\a     \2502                                    ^\a     \2575 \a   scss\\main.scss 244:35  root stylesheet';
}
